<div class="navbar mb-5">
  <%= link_to root_path do %>
    <div class="logo"></div>
  <% end %>

  <div class="menu">

    <%= link_to home_path, remote: true do %>
      <div class="menu-title" id="projets">
        PROJETS
      </div>   
    <% end %>
    
    <%= link_to manifeste_path, remote: true do %>    
      <div class="menu-title" id="manifeste">
        MANIFESTE
      </div>  
    <% end %>

    <%= link_to team_path, remote: true do %>
      <div class="menu-title" id="l'équipe">
        L'EQUIPE
      </div>  
    <% end %>

    <%= link_to soutenir_path, remote: true do %>
      <div class="menu-title" id="soutenir">
        NOUS SOUTENIR
      </div> 
    <% end %>

    <%= link_to contact_path, remote: true do %>
      <div class="menu-title" id="contact">
        CONTACT
      </div> 
    <% end %>
  </div>
</div>
