<%= render 'shared/navbar' %>

<div class="dixmat opacity">
      
  <div class="dixmattext">
    <div class="whitelighttext">
      <em>2021 - 1heure 10minutes</em>     
    </div>
    <div class="whitebigtitle" style="color: #FED766">
      10 MILLIARDS À TABLE !
    </div>
    <div class="whitetext">
      En 2050, il y aura 10 milliards de personnes à nourrir sur Terre. <br>
      Face à ce constat, Juliette, Julie et Lucie partent découvrir de nouveaux<br>
      modes alternatives d'agriculture compatible avec une alimentation durable.
    </div>
  </div>

  <div class="xrtext opacity">
    <div class="whitelighttext">
      <em>Projection en juillet 2022</em>    
    </div>
    <div class="whitebigtitle" style="color: #FED766">
      XR, l'action désespérée
    </div>
    <div class="whitetext" style="text-align: end;">
      Extinction rébellion selon le point de vu de 4 jeunes activistes pendant un an <br>
      4 pays différents, 4 parcours écologistes différents et inspirants.
    </div>
  </div>

  <div class="labeltext opacity">
    <div class="whitelighttext">
      <em>Projection en novembre 2022</em>    
    </div>
    <div class="whitebigtitle" style="color: #FED766">
      Label affaire
    </div>
    <div class="whitetext">
      Consommer responsable, oui. Mais savez-vous vraiment <br>
      ce qui se cache derrière les labels de nos supermarchés?
    </div>
  </div>
 

  <div class="dixmatcover opacity">
    <div class="container" style="position: relative; height: 45%; top: 50%">
      <div class="row">
        <div class="whitebigtitle opacity" id='boucheesdoubles'>  
          Mettre les bouchées doubles !
        </div>
        <div class="dixmatcards">
          <div class="col-12 col-md-6 col-lg-3">
            <div class="card opacity" id="explosioncard">
              <div class="cardcontent">
                <div class="whitetitle" style="font-size: 15px;">
                  EXPLOSION DÉMOGRAPHIQUE
                </div>
                <%# <div class="whitelighttext">
                  9,7 milliards de personnes à nourrir en 2050 (ONU,2019)
                </div> %>
              </div>
              <div id="explosion">
                <i class="fas fa-play"></i>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-3">
            <div class="card opacity" id="alternativescard">
              <div class="cardcontent">
                <div class="whitetitle" style="font-size: 15px;">
                  ALTERNATIVES COMMERCIALES
                </div>
                <%# <div class="whitelighttext">
                  L'écart de prix entre des produits identiques achetés dans un supermarché traditionnel et des magasins bio peut atteindre 58%
                </div> %>
              </div>
              <div id="alternatives">
                <i class="fas fa-play"></i>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-3">
            <div class="card opacity" id="urgencecard">
              <div class="cardcontent">
                <div class="whitetitle" style="font-size: 15px;">
                  URGENCE ÉCOLOGIQUE
                </div>
                <%# <div class="whitelighttext">
                  Les émissions de gaz à effet de serre provenant de l'agriculture ont doublé en 50 ans (FAO, 2016)
                </div> %>
              </div>
              <div id="urgence">
                <i class="fas fa-play"></i>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-3">
            <div class="card opacity" id="desequilibrecard">
              <div class="cardcontent">
                <div class="whitetitle" style="font-size: 15px;">
                  DÉSÉQUILIBRE ALIMENTAIRE
                </div>
                <%# <div class="whitelighttext">
                  40% de la population adulte est en surpoids (Global Nutrition Report, 2018) mais 1 personne sur 9 souffre de la faim chaque jour (FAO,2018)
                </div> %>
              </div>
              <div id="desequilibre">
               <i class="fas fa-play"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

<%= image_tag image_path("logo fleurs.png"), class: "opacity", id: "logoun" %>

<div class="xr">
  <div class="dixmattext" id="xrtext2">
    <div class="whitelighttext">
      <em>Projection en juillet 2022</em>   
    </div>
    <div class="whitebigtitle" style="color: #FED766">
      XR, l'action désespérée
    </div>
    <div class="whitetext">
      Extinction rébellion selon le point de vue de 4 jeunes activistes <br>
      4 pays différents, 4 parcours écologistes différents et inspirants.
    </div>
  </div>

  <div class="xrcover opacity">
    <div class="xrtexts opacity">
      <div class="whitetext">
        Certains sont des militants de longue dates, d’autres ont eu une “prise de conscience écologique”. Chacun est confronté dans son propre pays aux mêmes blocages institutionnels absurdes et “systémiques”, mais tous vont contribuer à l’obtention de “petites victoires”, par des prises de décision “démocratiques” et grâce à une organisation autonome ou “holacratique”.
      </div>

      <%= video_tag image_path("xrvideo.mp4"), height: "50%", width: "50%", muted: true, autoplay: true, style: "border-radius: 20px; margin-left: 20px;; border: 2px solid white; flex-grow: 1;" %>
     
    </div>
  </div>

</div>

<div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

<%= image_tag image_path("logo fleurs.png"), class: "opacity", id: "logdeux" %>

<div class="label">
  <div class="dixmattext">
    <div class="whitelighttext">
      <em>Projection en novembre 2022</em>    
    </div>
    <div class="whitebigtitle" style="color: #FED766">
      Label affaire
    </div>
    <div class="whitetext">
      Consommer responsable, oui. Mais savez-vous vraiment <br>
      ce qui se cache derrière les labels de nos supermarchés?
    </div>
  </div>

  <div class="labelcover opacity">
    <div class="labeltexts opacity">
      <div class="whitetext">
        Que le succès grandissant du bio et des applications comme Yuka en soient témoins, les goûts des consommateurs changent. Nous voulons être consomm’acteurs et beaucoup croient au pouvoir de l’engagement quotidien, grâce à sa carte bleue. Mais voilà, en matière de label comment dissocier le bon grain de l’ivraie? 
      </div>

      <%= video_tag image_path("labelvideo.mp4"), height: "40%", width: "40%", muted: true, autoplay: true %>
     
    </div>
  </div>

</div>

<div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>